@CHARSET "ISO-8859-1";

label.form-label{
	font-family: Patua One;
	font-size: 20px;
	color: rgba(51,51,51,1);
	display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}

input[type=text], input[type=password], input[type=date], input[type=number], select{
	padding: 12px 12px;  
	font-family: Patua One;
	font-size: 20px;
	color: rgb(56,56,56);
	margin-left: 10%;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	display: inline-block;
  	float: left;
  	width: 500px  
}

#save-button{
	background-color: rgba(0,175,94,0.9);
	padding: 12px 12px;  
	font-family: Patua One;
	font-size: 20px;
	color: white;
	margin-left: 10%;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	display: inline-block;
  	float: left;  
}

#delete-button{
	background-color: rgba(255,0,0,1);
	padding: 12px 12px;  
	font-family: Patua One;
	font-size: 20px;
	color: white;
	margin-left: 10%;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	display: inline-block;
  	float: left;  
}
